@import url('https://fonts.googleapis.com/css?family=Lexend');
  

.App {
  text-align: center;
  color: var(--text-color); 
}

:root {
  --background-color: #243945;
  --text-color: #000000;
  --opposite-text-color: #ffffff;
  --active-color: #D6D6D6;
}

.dark-mode {
  --background-color: #243945;
  --text-color: #ffffff;
  --opposite-text-color: #000000;
  --active-color: #49525B;
}

body {
  background-image: url(images/reviewtoollogin.jpg);
  background-color: #1c274c;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Lexend', lexend;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header { 

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
