.links-container {
    border-radius: 14px;
    border-color: gray;
    border-style: groove;
    padding: 10px;
    height: 10%;
    width: 80%;
    background-color: white;
    margin-top: 200px;
    margin-left: 0px;
}

.link-row {
    border-radius: 14px;
    border-width: 1px;
    border-color: gray;
    border-style: groove;
    padding: 10px;
    height: 10%;
    width: 80%;
}

.error-message {
    color: red;
}