.code-container {
    border-radius: 10px;
    border-color: gray;
    border-style: groove;
    padding: 10px;
    height: 10%;
}

.code-container pre {
    border-radius: 5px;
    border-color: gray;
    border-style: dotted;
    text-align: left;
    max-width: 100%;
    height: calc(100vh * 0.6);
    
}

.code-container code {
    overflow-x: scroll;
    overflow-y: auto; 
    width: 100%;
    height: 100%;
}
