#navButtons > *  {
    margin-right: 1rem;
}

.form-box{
    background-color: white;
    height: 50vh;
    margin-top: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 7px;
}