.start-page-container{
    display: flex;
    flex-direction: row;
}

.review-text-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    top: 150px;
    left: 10%;
}
.reviewforms{
    color: aliceblue;
    font-family: serif;
    font-size: 5em;
}
.preset-templates{
    color: aliceblue;
    font-size: 3em;
}