.loginsquare-container {
    width: 300px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background-color: #1c71a6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 150px;
    left: 150px;
}

.loginsquare-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.loginsquare-form {
    display: flex;
    flex-direction: column;
}


.loginsquare-input label {
    font-weight: bold;
}

.loginsquare-input input {
    padding: 8px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
}

.loginsquare-input input:focus {
    background-color: #d9d9d9; /* Keep the same color when focused */
}

.create-new-account {
    background-color: #ffffff;
    color: #000000;
    border-color: #f2a20c;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    align-self: center;
}

.create-new-account:hover {
    background-color: #c9c9c9;
    color: #000000;
    border-color: #f2a20c;
}

.forgot-password {
    color: #f2f2f2;
}

.divider {
    border-width: 2px;
    margin: 10px 0;
}

.login-button{
    background-color: #f2a20c;
    color: #f2f2f2;
    border-color: #000000;
    border-width: 0px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    
}

.login-button:hover {
    background-color: #ffac12ae;
    border-color: #000000;
    color: #000000;
}

.create-new-text {
    margin: 0 0 5px 0;
    color: #f2f2f2;
}

.link-button {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.visibility {
    cursor: pointer;
    background-color: #d9d9d9;
    border: none;
}