  .start-page-container{
    display: flex;
    flex-direction: row;
  }
  
  .login-text-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    top: 150px;
    left: 10%;
  }
  .signinto{
    color: aliceblue;
    font-family: serif;
    font-size: 3em;
  }
  .app-name{
    color: aliceblue;
    font-size: 5em;
  }