.preview-box {
    background-color: white;
    height: 60vh;
    max-height: 60vh;
/*     margin-top: 150px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.question {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    width: 16rem;
}

.textfield-group {
    text-align: left;
}

.third-step {
    width: 100%;
    margin-top: 0px;
    height: 90vh;
    border-radius: 0px;
}

.clear-checkbox{
    text-align: left;
}
.save-btn{
    width: 100%;
    border-radius: 0px;
    z-index: 100;
}
.popup-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59); /* Semi-transparent overlay */
    z-index: 99; /* Ensure the popup is displayed in front of other content */
    display: flex;
    justify-content: center;
    align-items: center;
}