.preview-box {
    background-color: white;
    height: 60vh;
    max-height: 60vh;
/*     margin-top: 150px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.questionBox {
    background-color: var(--bs-secondary-bg);
    border-radius: 10px;
    width: 16rem;
}

.question {
    text-wrap: stable;
    white-space: pre-wrap;
}


.third-step {
    width: 100%;
    margin-top: 0px;
    height: 90vh;
    border-radius: 0px;
}

.clear-checkbox{
    text-align: left;
}

.question-label, .textfield-label, .range-label{
    width: 100%;
}