.preview-box {
    background-color: white;
    height: 50vh;
/*     margin-top: 150px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.question {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}

.textfield-group {
    text-align: left;
}

.third-step {
    width: 100%;
    margin-top: 0px;
    height: 90vh;
    border-radius: 0px;
}