.signup-square-container {
    width: 300px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background-color: #3b525c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 150px; 
    left: 150px;
}

.signup-square-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #c9c9c9;
}

.signup-square-form {
    display: flex;
    flex-direction: column;
}


.signup-square-input label {
    font-weight: bold;
}

.signup-square-input input {
    padding: 8px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
}

.signup-square-input input:focus {
    background-color: #d9d9d9; /* Keep the same color when focused */
  }

.signup-button {
    background-color: #ffffff;
    color: #000000;
    border-color: #ffae12;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.signup-button:hover {
    background-color: #c9c9c9;
    color: #000000;
    border-color: #ffae12;
}


.link-button {
    color: inherit; /* Inherit text color from parent */
    text-decoration: none; /* Remove default underline */
    display: inline-block; /* Ensure link behaves like a block element */
}

.visibility {
    cursor: pointer;
    background-color: #d9d9d9;
    border: none;
}

.errorText {
    color: white;
}