.edit-container{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    margin-top: 67px;
    width: 960px;
    height: 580px;
}

.sidebar{
    width: 480px;
    height: 580px;
    padding: 20px;
    margin: 0px;
}

.preview{
    overflow: auto;
    background-color: white;
    width: 480px;
    height: 580px;
    padding: 20px;
}

.name-intro-cont{
    width: 440px;
    height: 420px;
}

.intro-name{
    margin-top: 1rem;
}

.name{
    color: black;
    font-size: 30px;
    margin-bottom: 2rem;
}

.info-container{
    padding: 10px;
    height: 200px;
    border: 1px solid rgb(205, 205, 205);
}

.info{
    width: 420px;
    font-size: 15px;
}

.edit-button{
    width: 420px; /* Subtract padding from width */
    border-radius: 0;
}
.close-button {
  width: 420px; /* Subtract padding from width */
  border-radius: 0;
}

.editModeOn-container{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    width: 960px;
    height: 580px;
}

.edit-question-cont{
    width: 480px;
    height: 580px;
    padding: 20px;
    margin: 0px;
}

.edit-name-info-cont{
    background-color: white;
    width: 480px;
    height: 580px;
    padding: 20px;
}

.save-button {
    width: 420px; /* Subtract padding from width */
    border-radius: 0;
}
.exit-button {
    width: 420px; /* Subtract padding from width */
    border-radius: 0;
}
.add{
    margin-bottom: 30px;
}
.form-control{
    margin-bottom: 10px;
}
.CardBody{
    margin: 0px;
}