.activation-container {
    height: 90vh;
}

.login-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    top: 150px;
    left: 10%;
}

.activated {
    color: aliceblue;
    font-family: serif;
    font-size: 3em;
    text-align: left;
}

.redirect {
    color: aliceblue;
    font-size: 5em;
    text-align: left;
}

.link {
    color: aliceblue;
    text-decoration: 'inherit';
}

.text-container {
    width: fit-content;
}