#navButtons > *  {
    margin-right: 1rem;
}

.container-create{
    height: 90vh;
    padding-left: 80px !important;
}

.form-box{
    background-color: white;
    height: 50vh;
/*     margin-top: 150px; */
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 7px;
}

.second-step{
    margin-left: 25%;
    margin-right: 20%;
}

.code-preview{
    background-color: white;
}

.code-row{
    height: 90vh;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.form-row{
    margin-right: 0px;
}

.sidebar-col {
    position: fixed;
    top: 10vh;
    left: 0;
    height: 90vh;
    z-index: 1000; /* Ensure it overlays the content */
    padding-left: 0;
  }
  
  .first-step{
    padding-left: 25%; /* Match the default collapsed sidebar width */
    padding-right: 5%;
    margin-left: 0px;
  }