#navButtons>* {
    margin-right: 1rem;
}

.container-create {
    height: 90vh;
}

.full-height {
    height: 100%;
}

.not-full-height {
    height: 90%;
}

.form-box {
    background-color: white;
    height: 72vh;
    /*     margin-top: 150px; */
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 7px;
}

.code-preview {
    background-color: white;
}

.code-row {
    height: 90vh;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 80px;
    padding-right: 0px;
}

.form-row {
    padding-left: 260px;
}

.sidebar-col {
    position: absolute;
    top: 10vh;
    left: 0;
    height: 90vh;
    z-index: 1000;
    /* Ensure it overlays the content */
    padding-left: 0;
    width: 1px;
}

.first-step {
    padding-right: 180px;
    padding-left: 260px;
    margin: 0;
}

.center-add-code {
    height: 72vh;
    display: flex;
    align-items: center;
}

.sidebar-page-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: "20px";
}