.email-sent-container {
    height: 90vh;
}

.click-link {
    color: aliceblue;
    font-family: serif;
    font-size: 3em;
}

.last-step {
    color: aliceblue;
    font-size: 5em;
}

.link {
    color: aliceblue;
    text-decoration: 'inherit';
}

.text-container {
    width: fit-content;
}