@import url('https://fonts.googleapis.com/css?family=Lexend');

.login-container {
  height: 90vh;
}

.login-text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.log-in-to {
  
  color: aliceblue;
  font-size: 8em;
  text-align: right;
}

.app-name {
  color: aliceblue;
  font-size: 5em;
  text-align: left;
}

.text-container {
  width: fit-content;
}