.reviewforms{
    color: aliceblue;
    font-family: 'Roboto-Black';
    letter-spacing: 0.2em;
    font-size: 6em;
}
.preset-templates{
    color: aliceblue;
    font-size: 3em;
}

@font-face {
    font-family: 'Roboto-Black';
    src: local('Roboto-Black'), url(../../fonts/Roboto-Black.ttf) format('truetype');
}

.myReviewsContainer {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
}

.review{
    height: 100%;
}

.card-container {
    width: 67%;
}