

.reviewforms{
    color: aliceblue;
    letter-spacing: 0.2em;
    font-weight: 1000; 
    font-size: 6em;
}
.preset-templates{
    color: aliceblue;
    font-size: 3em;
}

.myReviewsContainer {
    position: absolute;
    width: 100%;
    height: 90vh;
    overflow-y: auto;
}

.review{
    height: 100%;
}

.card-container {
    width: 67%;
}

.review-card{
    width: 100%;
}