.body-my-reviews{
    background-image: none;
    background-color: #1c274c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.reviewforms{
    color: aliceblue;
    letter-spacing: 0.2em;
    font-weight: 1000; 
    font-size: 6em;
}
.preset-templates{
    color: aliceblue;
    font-size: 3em;
}

.myReviewsContainer {
    width: 95%;
}

.review{
    height: 100%;
}