.page-container {
    height: 90vh;
}

.container-details {
    width: 100%;
    height: 100%;
    padding: 0;
}

.container-statistics {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    
}
.toggle-code-answers {
    width: 20%;
    align-self: center;
}

.review-name, .review-page{
    color: white;
}

.no-answers {
    color: white;
}

.big-container {
    width: 60%;
    background-color: white;
    border-radius: 10px;
    overflow-y: scroll; /* Hide overflow content */
    margin-bottom: 12px;
    height: calc(100% - 100px);
}

.tab-list-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1; /* Ensure the tab list appears above other content */
}

.page-change {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    font-size: 20px;
}

.action-container {
    width: 60%;
}

.delete-btn, .complete-btn {
    width: 100%;
}
