.signup-container {
  height: 90vh;
}

.login-text-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .log-in-to {
    color: aliceblue;
    font-size: 3em;
    text-indent: 10px;
    text-align: left;
  }
  
  .app-name {
    color: aliceblue;
    font-size: 5em;
    text-align: left;
  }
  
  .text-container {
    width: fit-content;
  
    
  }