.body-main{
    background-image: url(reviewtoolmainpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.title-container{
    position: relative;
    border: none;
    right: 150px;
    top: 100px;
    width: 45%;
    left: 200px;
    height: 70vh;
}
.app-name{
    color: aliceblue;
    font-size: 100px;
}
