.templatebody{
  background-image: url(reviewtoolmypagestemplates.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.hello {
  color: #ffffff;
  font-size: 50px;
}

/* Additional styling for the title, adjust as needed */
.saved-teamplates {
  color: #ffffff;color: aliceblue;
  letter-spacing: 0.2em;
  font-weight: 1000; 

  font-size: 80px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.defaultMessage {
  color: #ffffff;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.templates-row {
  width: 67%;
  align-self: center;
}