.range-card {    
    padding: 10px;
    height: 100%;
    width: 100%;
}

.rq-card {
    align-items: center;
    height: fit-content;
    height: 350px;
}

.range-question-title {
    text-align: left;
}

.range-number-responses {
    text-align: left;
}