.individual-text-container {
    text-align: left;
    border-radius: 10px;
    width: 20rem;
    background-color: var(--bs-secondary-bg);
}

.individual-text {
    background-color: var(--bs-body-bg);
    padding: 5px;
    border-radius: 5px;
    word-wrap: break-word;
}

.individual-binary {
    border-radius: 10px;
    width: 20rem;
    background-color: var(--bs-secondary-bg);
}

.individual-binary-question {
    text-align: left;
}

.individual-range {
    border-radius: 10px;
    width: 20rem;
    background-color: var(--bs-secondary-bg);
    text-align: left;
}
.range-slider {
    width: 100%;
}

.individual-binary-question-label, .individual-text-container-label, .individual-range-label{
    width: 100%;
    word-wrap: break-word;
}