.divider {
    border-width: 2px;
    margin: 10px 0;
}

.textfield-container {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125); /* Adjust the color and thickness as needed */
    border-radius: 0.25rem; /* Adjust border radius if necessary */
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    text-align: left;
}